<footer class="bg-dark pb-2 pt-2">
  <div class="container">
<% if(landing) { %>

  <div class="container text-center">
    <p class="text-white m-0 p-0">&copy; 2023 <%= landing.title %></p> 
    <a href="/about" style="color: white;">Tentang-Kami</a> <span class="text-white">|</span>
    <a href="<%= landing.socialMedia.facebook.link %>"
        target="_blank"
        style="color: white">Facebook</a> <span class="text-white">|</span>
    <a href="<%="landing.socialMedia.facebook.link"%>" target="_blank" style="color: white;">Instagram</a>
    <% }else{ %>
<p>Foter Belum ada</p>
      <% } %>
  </div>
</footer>
