<div class="container">
  <h1>Add Partisipan</h1>
  <form action="/partisipans/add" method="POST">
    <div>Judul :</div>
    <input type="text" class="mb-1" name="title" placeholder="Judul" required />
    <div id="pesertaContainer">
      <div>
        <div>Nama Peserta :</div>
        <input type="text" class="mb-1" name="peserta[]" placeholder="Nama Peserta" required />
        <button type="button" class="border-1 border-danger" onclick="removePeserta(this)" style="display: none"><i class="bi bi-x-lg text-danger"></i></button>
      </div>
    </div>
    <button type="button" class="btn btn-success mt-2 mb-2" onclick="addPeserta()">Add Peserta</button>
    <button class="btn btn-success mt-2 mb-2" type="submit">Submit</button>
  </form>

  <% if (message) { %>
  <div id="responseMessage" style="color: green"><%= message %></div>
  <% } %>

  <a href="/dashboard">Back to Dashboard</a>
</div>
<script>
  function addPeserta() {
    const pesertaContainer = document.getElementById('pesertaContainer');
    const newPesertaDiv = document.createElement('div'); // Buat div untuk setiap input peserta
    const newPeserta = document.createElement('input');
    newPeserta.type = 'text';
    newPeserta.name = 'peserta[]';
    newPeserta.placeholder = 'Nama Peserta';
    newPeserta.required = true;
    newPeserta.classList.add('mb-1');

    const removeButton = document.createElement('button');
    removeButton.type = 'button';
    removeButton.classList = 'ms-1 border-1 border-danger';
    removeButton.innerHTML = '<i class="bi bi-x-lg  text-danger">';
    removeButton.onclick = function () {
      pesertaContainer.removeChild(newPesertaDiv); // Hapus input peserta
    };

    newPesertaDiv.appendChild(newPeserta);
    newPesertaDiv.appendChild(removeButton); // Tambahkan tombol hapus ke div
    pesertaContainer.appendChild(newPesertaDiv); // Tambahkan div ke pesertaContainer

    // Tampilkan tombol hapus jika lebih dari satu peserta
    if (pesertaContainer.children.length > 1) {
      removeButton.style.display = 'inline'; // Tampilkan tombol hapus
    }
  }
</script>
