<div class="container">
  <h1>Add Menu</h1>
  <form action="/menu/add" method="POST">
    <div>Judul :</div>
    <input type="text" class="mb-1" name="title" placeholder="Judul" required />
    <div>Link :</div>
    <input type="text" class="mb-1" name="link" placeholder="Link" required />
    <button class="btn btn-success mt-2 mb-2" type="submit">Submit</button>
  </form>

  <% if (message) { %>
  <div id="responseMessage" style="color: green"><%= message %></div>
  <% } %>

  <a href="/dashboard">Back to Dashboard</a>
</div>
